In [1]:
from nsepy import *
from datetime import *
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
sym=["SBIN","BHEL","ACC","GAIL","TATAMOTORS","TCS","INFY","SUNPHARMA","IDEA","RELIANCE"]

In [3]:
d= pd.DataFrame()
j=0
for i in sym:
    result = get_history(symbol=i, start=date(2015,1,1), end=date(2015,12,31))
    s2=result[['Close']]
    s2=s2.rename(columns = {'Close':i})
    if j==0:
        d=d.append(s2)
        j=j+1
    else:
        d=d.join(s2)

In [4]:
d1=d.reset_index()

In [5]:
d1['Date'] = d1['Date'].apply(pd._libs.tslib.normalize_date)

In [6]:
d1['Week'] = d1['Date'].dt.week

In [7]:
d1=d1[d1['Week']%4==0]

In [8]:
d1.head(5)

,Date,SBIN,BHEL,ACC,GAIL,TATAMOTORS,TCS,INFY,SUNPHARMA,IDEA,RELIANCE,Week
12,2015-01-19,313.15,281.05,1532.90,440.55,538.50,2511.00,2102.50,863.00,155.40,879.65,4
13,2015-01-20,318.15,281.25,1544.30,431.35,559.20,2500.45,2124.20,872.30,157.85,903.05,4
14,2015-01-21,326.20,282.55,1544.45,433.80,551.50,2513.80,2169.90,885.95,163.10,906.75,4
15,2015-01-22,324.65,284.45,1558.80,431.05,566.50,2513.55,2196.45,920.05,165.90,883.75,4
16,2015-01-23,327.45,279.10,1542.05,422.95,588.45,2503.60,2215.05,926.80,168.85,886.90,4

In [9]:
d2=d1.drop(["SBIN","BHEL","ACC","GAIL","TATAMOTORS","TCS","INFY","SUNPHARMA","IDEA","RELIANCE"], axis=1)

In [10]:
for i in sym:
    d2['MA-'+i]=d1[i].rolling(2).mean()

In [29]:
d2

,Date,Week,MA-SBIN,MA-BHEL,MA-ACC,MA-GAIL,MA-TATAMOTORS,MA-TCS,MA-INFY,MA-SUNPHARMA,MA-IDEA,MA-RELIANCE
12,2015-01-19,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2015-01-20,4,315.650,281.150,1538.600,435.950,548.850,2505.725,2113.350,867.650,156.625,891.350
14,2015-01-21,4,322.175,281.900,1544.375,432.575,555.350,2507.125,2147.050,879.125,160.475,904.900
15,2015-01-22,4,325.425,283.500,1551.625,432.425,559.000,2513.675,2183.175,903.000,164.500,895.250
16,2015-01-23,4,326.050,281.775,1550.425,427.000,577.475,2508.575,2205.750,923.425,167.375,885.325
31,2015-02-16,8,317.075,269.325,1578.250,414.475,581.300,2544.200,2246.900,920.775,163.450,894.850
32,2015-02-18,8,306.200,259.875,1633.875,409.000,579.225,2610.225,2287.625,916.275,158.750,902.225
33,2015-02-19,8,304.025,261.000,1634.225,410.350,580.425,2658.350,2310.600,917.250,155.900,901.850
34,2015-02-20,8,302.325,268.525,1617.775,408.850,578.225,2678.300,2303.900,914.950,151.650,887.575
50,2015-03-16,12,291.975,267.175,1603.975,395.275,568.400,2618.925,2274.875,971.525,162.175,857.600
51,2015-03-17,12,282.375,261.950,1600.275,380.550,564.225,2573.000,2253.575,1035.875,174.975,849.475
52,2015-03-18,12,285.200,261.250,1598.175,380.650,565.875,2571.525,2235.000,1043.200,175.900,862.750
53,2015-03-19,12,284.450,256.650,1575.925,385.825,557.000,2577.800,2229.975,1046.125,175.225,862.400
54,2015-03-20,12,279.925,250.675,1569.125,383.725,550.700,2603.600,2243.950,1037.200,175.000,855.125
68,2015-04-13,16,282.275,244.200,1582.975,386.400,551.925,2633.225,2248.125,1088.800,188.500,888.300
69,2015-04-15,16,288.150,237.525,1605.375,395.050,548.350,2641.625,2226.250,1134.125,200.450,923.075
70,2015-04-16,16,291.200,232.200,1589.375,395.575,540.850,2605.275,2204.175,1102.625,200.725,926.000
71,2015-04-17,16,292.075,233.425,1542.925,392.575,538.300,2528.825,2186.950,1062.850,199.850,927.600
86,2015-05-11,20,283.900,234.775,1510.300,380.950,532.525,2515.425,2086.450,1001.075,184.025,911.400
87,2015-05-12,20,271.725,228.650,1474.450,370.150,521.625,2539.450,1970.375,957.025,169.625,882.325
88,2015-05-13,20,270.850,225.175,1461.350,372.825,517.000,2519.150,1951.900,951.850,168.200,876.900
89,2015-05-14,20,277.625,228.875,1473.800,380.875,518.525,2507.325,1945.750,949.225,170.325,881.650
90,2015-05-15,20,284.200,230.475,1473.500,381.750,518.250,2505.200,1948.275,945.375,173.050,876.075
106,2015-06-08,24,271.200,237.000,1450.850,383.250,477.750,2544.300,1980.900,887.950,175.300,879.700
107,2015-06-09,24,256.275,242.200,1435.325,388.550,437.825,2569.550,1996.075,820.100,177.125,884.575
108,2015-06-10,24,259.100,246.300,1438.750,393.125,443.325,2581.200,2009.300,816.875,176.425,894.750
109,2015-06-11,24,257.300,247.500,1422.050,395.050,438.400,2586.025,2012.075,821.325,171.500,891.475
110,2015-06-12,24,253.975,246.025,1404.925,395.375,426.000,2538.550,1986.350,816.550,168.975,883.500
126,2015-07-06,28,262.375,254.150,1453.550,391.225,426.450,2569.550,1479.175,846.225,175.650,952.700
127,2015-07-07,28,271.850,259.500,1502.525,385.375,431.325,2624.775,981.900,882.125,180.925,1009.400
128,2015-07-08,28,270.125,257.350,1483.900,378.425,418.250,2605.675,969.000,878.325,180.500,999.925
129,2015-07-09,28,267.550,260.000,1476.375,369.775,401.375,2558.800,947.750,871.850,179.925,992.000
130,2015-07-10,28,269.150,266.450,1478.625,364.025,399.850,2498.425,937.750,886.975,177.375,994.600
146,2015-08-03,32,275.800,275.775,1431.900,357.550,395.050,2491.975,1008.225,866.250,172.850,1002.125
147,2015-08-04,32,284.825,282.375,1384.400,349.575,384.475,2509.250,1068.100,830.525,167.450,995.225
148,2015-08-05,32,287.000,281.175,1379.475,344.950,378.575,2528.025,1071.800,836.000,164.950,987.875
149,2015-08-06,32,287.225,281.500,1393.550,343.950,379.750,2560.225,1086.650,843.650,167.100,983.350
150,2015-08-07,32,285.175,274.300,1402.500,342.400,388.250,2562.675,1091.275,848.675,167.675,981.650
166,2015-08-31,36,264.325,246.300,1367.250,318.975,366.775,2558.050,1095.000,875.450,161.400,920.125
167,2015-09-01,36,243.225,222.100,1333.525,294.250,335.025,2550.725,1091.700,900.450,152.625,847.875
168,2015-09-02,36,234.825,212.125,1344.275,292.900,327.175,2564.600,1094.225,896.050,151.950,844.700
169,2015-09-03,36,231.400,209.050,1375.450,293.975,329.000,2598.700,1099.400,887.550,151.950,851.700
170,2015-09-04,36,228.700,208.900,1369.975,287.700,328.225,2576.525,1086.650,871.325,149.250,844.875
184,2015-09-28,40,232.300,200.675,1341.075,286.475,303.950,2570.575,1089.750,859.350,145.950,835.075
185,2015-09-29,40,240.675,196.175,1332.100,291.500,286.875,2590.975,1113.700,854.625,141.250,837.500
186,2015-09-30,40,239.525,201.375,1337.100,296.600,293.675,2588.150,1141.900,858.325,144.600,851.525
187,2015-10-01,40,236.150,202.450,1354.925,297.775,298.175,2616.325,1167.500,879.700,149.750,863.500
202,2015-10-26,44,243.200,208.450,1378.425,311.150,341.175,2590.575,1162.600,889.900,145.775,903.775
203,2015-10-27,44,250.025,215.975,1389.775,323.850,383.975,2533.825,1150.775,898.725,141.275,941.200
204,2015-10-28,44,245.425,213.400,1393.425,317.875,384.825,2530.100,1151.300,905.100,141.250,938.250
205,2015-10-29,44,239.500,207.825,1393.225,315.050,388.750,2512.225,1149.125,890.225,141.500,938.975
206,2015-10-30,44,237.000,201.050,1382.500,310.725,388.075,2495.275,1140.250,884.225,140.750,944.350
221,2015-11-23,48,239.875,187.025,1361.600,335.175,393.525,2443.125,1094.575,803.325,139.650,950.725
222,2015-11-24,48,242.050,174.525,1342.550,358.850,401.525,2379.500,1047.425,711.650,139.775,960.725
223,2015-11-26,48,241.950,173.600,1348.725,361.800,412.675,2356.750,1046.775,721.050,143.550,978.175
224,2015-11-27,48,246.100,174.675,1354.575,368.075,421.025,2349.450,1059.375,737.875,145.425,983.850
240,2015-12-21,52,240.075,171.550,1353.100,352.350,398.900,2399.875,1084.900,747.025,141.100,985.575
241,2015-12-22,52,229.400,166.525,1350.950,337.375,379.125,2425.725,1093.600,758.950,138.775,989.700
242,2015-12-23,52,229.000,169.025,1345.475,348.425,378.275,2415.425,1092.300,777.050,139.525,995.550
243,2015-12-24,52,228.975,172.400,1343.100,360.325,380.425,2430.025,1098.600,790.625,140.450,1002.175

2

In [12]:
d3=d1.drop(["SBIN","BHEL","ACC","GAIL","TATAMOTORS","TCS","INFY","SUNPHARMA","IDEA","RELIANCE"], axis=1)

In [13]:
for i in sym:
    d3['MA-'+i]=d1[i].rolling(10).mean()

In [14]:
d3

,Date,Week,MA-SBIN,MA-BHEL,MA-ACC,MA-GAIL,MA-TATAMOTORS,MA-TCS,MA-INFY,MA-SUNPHARMA,MA-IDEA,MA-RELIANCE
12,2015-01-19,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2015-01-20,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2015-01-21,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2015-01-22,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2015-01-23,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2015-02-16,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2015-02-18,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2015-02-19,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2015-02-20,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,2015-03-16,12,310.830,272.430,1581.335,417.695,567.595,2568.175,2225.780,916.040,160.530,888.180
51,2015-03-17,12,307.825,270.805,1589.345,411.595,570.900,2575.445,2239.580,933.930,162.645,885.900
52,2015-03-18,12,304.740,268.450,1593.250,406.635,571.000,2581.335,2250.110,951.150,164.385,882.460
53,2015-03-19,12,300.280,265.755,1595.655,402.245,571.230,2589.580,2256.165,967.330,165.595,877.400
54,2015-03-20,12,295.640,261.885,1596.750,396.895,569.340,2599.320,2262.265,977.990,166.485,874.435
68,2015-04-13,16,291.525,258.240,1602.165,394.125,566.120,2614.510,2264.640,1000.405,169.820,877.995
69,2015-04-15,16,289.855,255.525,1602.175,393.010,562.750,2618.805,2258.135,1020.660,173.885,880.080
70,2015-04-16,16,288.525,252.705,1593.265,391.440,558.445,2613.520,2247.950,1037.675,178.215,882.750
71,2015-04-17,16,287.465,250.010,1583.915,389.455,554.325,2592.900,2233.405,1049.780,182.675,885.230
86,2015-05-11,20,284.840,245.955,1571.770,385.860,549.305,2580.945,2204.460,1054.900,184.690,887.515
87,2015-05-12,20,283.415,242.305,1558.010,384.430,544.970,2577.005,2172.505,1046.880,184.165,890.175
88,2015-05-13,20,282.535,238.600,1543.985,384.315,539.860,2570.175,2144.125,1038.095,183.335,893.000
89,2015-05-14,20,281.900,235.830,1533.135,384.475,535.500,2564.165,2114.655,1028.085,183.050,893.955
90,2015-05-15,20,282.485,233.365,1523.500,383.500,532.110,2555.655,2087.785,1017.945,182.900,895.735
106,2015-06-08,24,280.155,233.095,1509.480,384.380,520.910,2552.305,2062.045,998.235,183.110,898.870
107,2015-06-09,24,277.285,232.965,1493.970,383.930,509.290,2542.920,2037.375,964.205,180.625,894.990
108,2015-06-10,24,274.345,234.850,1476.155,383.995,499.905,2540.220,2018.655,934.785,178.305,893.205
109,2015-06-11,24,270.505,236.025,1460.505,383.825,488.800,2539.070,1998.955,907.945,174.780,888.085
110,2015-06-12,24,266.725,237.370,1448.555,384.555,477.445,2542.165,1978.535,885.525,172.130,884.385
126,2015-07-06,28,266.200,239.900,1449.155,385.880,467.585,2549.895,1877.500,876.975,173.105,896.345
127,2015-07-07,28,266.750,243.540,1454.170,387.600,459.385,2559.230,1780.840,870.545,174.390,909.800
128,2015-07-08,28,266.055,246.335,1453.665,387.000,447.835,2567.200,1680.920,862.270,175.565,920.950
129,2015-07-09,28,264.735,249.765,1454.685,385.380,435.955,2569.525,1581.240,855.070,176.310,931.870
130,2015-07-10,28,263.045,253.530,1454.690,383.455,424.155,2565.845,1478.815,850.590,176.430,944.655
146,2015-08-03,32,265.655,257.520,1450.895,380.240,419.415,2559.060,1386.705,850.730,175.820,956.355
147,2015-08-04,32,268.755,261.565,1444.505,375.660,413.485,2553.785,1293.220,852.675,174.495,966.785
148,2015-08-05,32,271.235,264.495,1439.040,370.605,406.465,2548.425,1199.205,854.555,173.525,974.980
149,2015-08-06,32,274.740,268.365,1438.805,365.440,401.755,2548.625,1108.135,857.140,173.615,985.160
150,2015-08-07,32,277.475,270.150,1438.555,360.010,398.915,2553.250,1020.190,860.980,173.265,994.610
166,2015-08-31,36,275.130,266.795,1421.545,350.990,389.820,2546.325,1031.300,862.985,170.765,978.645
167,2015-09-01,36,271.750,262.670,1404.755,341.785,379.655,2538.440,1042.150,864.645,167.605,962.305
168,2015-09-02,36,268.070,257.750,1393.620,333.885,371.605,2538.110,1056.345,866.530,165.055,947.600
169,2015-09-03,36,264.520,252.480,1384.570,326.625,365.180,2546.420,1072.480,867.785,162.010,934.245
170,2015-09-04,36,259.980,246.240,1371.890,318.620,357.280,2553.730,1086.125,863.400,159.430,917.655
184,2015-09-28,40,255.820,237.460,1366.405,312.410,346.960,2562.140,1088.785,866.405,156.630,900.835
185,2015-09-29,40,251.150,229.000,1361.430,307.005,337.760,2570.075,1095.245,868.220,154.190,886.110
186,2015-09-30,40,246.325,221.500,1357.930,302.740,329.980,2574.165,1102.805,870.870,152.560,873.565
187,2015-10-01,40,240.935,213.190,1353.705,297.770,321.445,2581.295,1111.415,875.430,150.720,862.140
202,2015-10-26,44,237.930,208.330,1353.115,296.490,320.565,2579.745,1117.070,879.115,148.180,857.990
203,2015-10-27,44,238.075,207.125,1358.210,298.745,324.885,2576.450,1122.570,880.085,146.695,866.355
204,2015-10-28,44,238.370,206.590,1365.095,301.215,330.525,2575.620,1128.990,880.045,145.905,876.065
205,2015-10-29,44,239.010,206.265,1368.000,303.175,337.200,2565.975,1133.550,878.920,144.605,885.210
206,2015-10-30,44,239.490,204.990,1366.505,304.565,342.340,2554.935,1137.160,879.380,143.665,894.595
221,2015-11-23,48,241.245,201.890,1366.325,312.670,350.260,2539.295,1135.135,865.320,142.685,906.380
222,2015-11-24,48,241.440,199.760,1366.800,319.040,361.855,2516.720,1128.695,849.840,142.430,919.725
223,2015-11-26,48,241.500,197.375,1369.650,326.730,375.420,2492.450,1121.750,838.605,143.145,934.515
224,2015-11-27,48,242.755,194.420,1370.295,333.335,387.325,2468.980,1112.190,825.750,142.595,946.190
240,2015-12-21,52,242.285,191.195,1369.285,337.645,395.565,2449.160,1105.230,812.070,141.415,958.930
241,2015-12-22,52,239.995,186.035,1364.800,338.580,394.915,2436.010,1098.390,799.560,141.195,963.375
242,2015-12-23,52,238.080,181.805,1360.425,342.560,394.425,2425.480,1093.535,787.735,141.065,969.800
243,2015-12-24,52,236.705,177.835,1354.735,347.070,394.035,2415.995,1087.850,776.665,141.035,976.160